body {
  // Text selection disabled
  user-select: none;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: .85rem;
  font-weight: 400;
  display: grid;
  color: var(--user-textColor);
  background-color: var(--user-titleBar-activeBackground);

  #app {
    // width: calc(100vw - 2.36em);
    height: calc(100vh - 1.18em);
    display: grid;
    grid-template-areas:
      "title"
      "panel";
    grid-template-rows: [row1-start] var( --system-titleBar-height);
  }

  // ScrollBar
  ::-webkit-scrollbar {
    width: 5px;
    height: 8px;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #e7e9ed;
    border-radius: 5px;
  }

  .overview-view::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }


  @media only screen and (max-width: 600px) {
    ::-webkit-scrollbar {
      width: 5px;
      height: 5px;
    }
  }

  @media only screen and (max-width: 1024px) {
    .table-view::-webkit-scrollbar {
      width: 5px;
      height: 5px;
    }
  }
  @media only screen and (max-width: 1024px) {
    .overview-view::-webkit-scrollbar {
      width: 5px;
      height: 5px;
    }
  }

  .virtual-scrollbar-wrapper {
    overflow-y: auto;
    overflow-anchor: none;
    -webkit-overflow-scrolling: touch;
  }

}